
  	<article>
  		<section id="spotlight">
  			<div class="container-fluid">
				<div class="columnas">
						
				</div>
			</div>
		</section>
		<div class="container">
			<div class="infoSpotlight"> 
        <h2>Spotlight</h2>
        <h3 class="hidden-xs">¿Qué necesitas <span class="blue hidden-xs">estudiar</span> hoy?</h3>
        <p class="hidden-xs"><span class="bolditalic">SolvingBooks</span> te enseña a través de tutoriales en línea todo lo que necesitas saber sobre ingeniería.</p>
        <p><a class="button" href="">Registrarse</a></p> 
			</div>
		</div>
	</article>

	<section id="cursos">	
		<div class="container">
			<div class="row">
				<div class="col-md-6"> 
					<h3>Conoce nuestros cursos</h3>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-6">
					<p>Encuentra el módulo que necesitas de acuerdo a tu ingeniería, avanza a tu ritmo aprendiendo lo que realmente requieres.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a href="/ingenieria_electronica"><img src="assets/home/electronica.png" alt="" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<img class="disabled" src="assets/home/civil.png" alt="" />	
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<img class="disabled" src="assets/home/sistemas.png" alt="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<img class="disabled" src="assets/home/industrial.png" alt="" />
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<img class="disabled" src="assets/home/electrica.png" alt="" />	
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<img  class="disabled" src="assets/home/mecanica.png" alt="" />
				</div>				
			</div>
		</div>
	</section>
	<a href="/ingenieria_electronica/circuitos_electricos"><img id="nuevos_cursos" class="hidden-xs" src="assets/home/nuevos_cursos.png" alt=""></a>

	<section id="more">
		<div class="container">
	        <div class="row">
	          <div class="col-md-6">
	            	<p><strong>Descubre que más</strong></p>
	            	<p class="strong">puedes hacer en <span class="blue">solvingbooks</span></p>
	          </div>
	        </div>
	        <div class="caracteristicas">
		        <div class="row"> 
		    		<div align="center" class="col-xs-12 col-sm-4 col-md-4">
		    			<img class="descubre" src="assets/home/dispositivos.png">
		    		</div>
			    	<div align="center" class="col-xs-12 col-sm-4 col-md-4">
			    		<img class="descubre" src="assets/home/califica.png">
			    	</div>
			    	<div align="center" class="col-xs-12 col-sm-4 col-md-4 ">
			    		<img class="descubre" src="assets/home/envia.png">
			    	</div>
				</div>
			</div>
		</div>
  </section>