<<<<<<< HEAD
	<header>
		<div id="encabezado">
			<div class="wrapper">
				<h1><a href="http://www.solvingbooks.com">SolvingBooks</a></h1>

				<section id="navigation">
					<nav>
						<h2>Navigation</h2>
						<ul>
							<li><a href="">Acerca de</a></li>
							<li><a href="">Cursos</a></li>
							<li><a href="">Contáctanos</a></li>
							<li><a href="">Ingresar</a></li>
						</ul>
					</nav>

					<section id="search">
						<h2>Search</h2>
						<form>
							<input type="search" name="search" placeholder="" />
							<input type="submit" value=""/>
						</form>
					</section>
				</section>
			</div>
		</div>
	</header>
=======
<header>
    <div class="wrapper">
      <h1><a href="">SolvingBooks</a></h1>

      <section id="navigation">
        <nav>
          <h2>Navigation</h2>
          <ul>
            <li><a href="">Acerca de</a></li>
            <li><a href="">Cursos</a></li>
            <li><a href="">Contáctanos</a></li>
            <li><a class="resaltar" href="">Ingresar</a></li>
          </ul>
        </nav>

        <section id="search">
          <h2>Search</h2>
          <form>
            <input class="search-button" type="search" name="search" placeholder="Search" />
            <input class="search-submit" type="submit" value="Search" />
          </form>
        </section>
      </section>
    </div>
  </header>
>>>>>>> 6155f99ea94feb391ee1f81905097410aba0241d
  <section>
    <article>
      <!--<div id="slideshow">
        <div id="uno"></div>
        <div id="dos"></div>
      </div>-->

      <section id="spotlight">

        <div class="wrapper">
          <div class="columnas">
            
          </div>
        </div>
      </section>
      <div class="wrapper">
      <div class="infoSpotlight">
        <h2>Spotlight</h2>
        <h3>¿Qué necesitas <span class="blue">estudiar</span> hoy?</h3>
        <p><span class="bolditalic">SolvingBooks</span> te enseña a través de tutoriales en línea todo lo que necesitas saber sobre ingeniería.</p>
        <p><a class="button" href="">Registrarse</a></p>
      </div>
      </div>
      <section id="cursos">
        <div class="left-bar"></div>
        <div class="wrapper">
        <div class="row">
          <div class="columns">
            <h3>Conoce nuestros cursos</h3>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <p>Encuentra el módulo que necesitas de acuerdo a tu ingeniería, avanza a tu ritmo aprendiendo lo que realmente requieres.</p>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <a href=""><img src="assets/ing/electronica.png" alt="" /></a>
          </div>
          <div class="large-4 columns">
            <img class="disabled" src="assets/ing/civil.png" alt="" /> 
          </div>
          <div class="large-4 columns">
            <img class="disabled" src="assets/ing/sistemas.png" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <img class="disabled" src="assets/ing/industrial.png" alt="" />
          </div>
          <div class="large-4 columns">
            <img class="disabled" src="assets/ing/electrica.png" alt="" /> 
          </div>
          <div class="large-4 columns">
            <img  class="disabled" src="assets/ing/mecanica.png" alt="" />
          </div>
        </div>

        </div>
      </section>

      <img id="nuevos_cursos" src="assets/nuevos_cursos.png" alt="">
      
      <section id="more">
        <div class="row">
          <div class="columns">
            <p>Descubre que más </p>
            <p class="strong">puedes hacer en <span class="blue">solvingbooks</span></p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns"><div id="dispositivos"></div></div>
          <div class="large-6 columns"><div id="califica"></div></div>
          <div class="large-3 columns"><div id="envia"></div></div>
        </div>
      </section>

      <img id="footer" src="assets/footer.jpg" alt="">
    </article>
<<<<<<< HEAD
  </section>
=======
  </section>
>>>>>>> 6155f99ea94feb391ee1f81905097410aba0241d
