<div class="degradado">
  		<img src="assets/ingelectronica/Banner_superior-02.png">
  	</div>
  	<div id="descripcion" class="degradado">
  		<div class="container">
  			<div class="row">
	  			<div class="col-sm-1 col-md-3 ">
	  				<img  class="hidden-xs" align="right" src="assets/ingelectronica/Electronica_ico.png">
	  			</div>
	  			<div class="col-xs-12 col-sm-6 col-md-5">
	  				<p><strong>Por medio de estos cursos aprenderás a resolver todo tipo de problemas de ingeniería aplicados a diferentes áreas tales como el control de procesos industriales, las telecomunicaciones, la robótica, entre otros.</strong></p>
	  			</div>
	  			<div id="ingenieria" class="col-xs-12 col-sm-4 col-md-3">
	  				<img  src="assets/ingelectronica/titulo.png">
	  			</div>
  			</div>	
  		</div>
  	</div>

  	<div id="barra_buscar">
  		<div class="container" class="row">
  			<div class="col-sm-3 col-md-4">
  				<h1 class="hidden-xs">CATEGORÍAS</h1>  				
  			</div>
  			<div class="col-xs-12 col-sm-6 col-md-4">
  				<div class="form-group">
	  				<input id="buscar" type="search" class="form-control" placeholder="">
	  				<input id="bt_buscar" type="submit" value=""/>
  				</div>
  			</div>
  			<div id="organizar" class="col-sm-3 col-md-4">
	  			<h1 class="hidden-xs">ORGANIZAR</h1>	  			
  			</div>
  		</div>
  	</div>

  	<div class="degradado">
  		<div id="asignaturas" class="container">
  			<img align="center" src="assets/ingelectronica/Cuadro_etiquetas.png">  		
  			<div class="row">
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/CálculoI-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/CálculoII-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/CálculoIII-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/Estadística-03.png">
	  			</div>

	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/FísicaCalorOndas-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
            <a href="/ingenieria_electronica/circuitos_electricos"><img src="assets/ingelectronica/CircuitosI-03.png"></a>
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/LógicaDigital-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/ElectrónicaI-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img class="disabled" src="assets/ingelectronica/TElectromagnética-03.png">
	  			</div>
	  			<div align="center" class="col-xs-6 col-sm-4 col-md-3">
	  				<img id="sugerencia" src="assets/ingelectronica/Sugerencia_Curso-03.png">
	  			</div>
  		</div>
  	</div>
