/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 @import "bootstrap";
 @import "bootstrap-sprockets";

@font-face {
	font-family:"Blanch Caps";
	src: url("../assets/BLANCH_CAPS.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"Aleo BoldItalic";
	src: url("../assets/aleo/Aleo-BoldItalic.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"Aleo Lightitalic";
	src: url("../assets/aleo/Aleo-LightItalic.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"Aleo Light";
	src: url("../assets/aleo/Aleo-Light.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"Blanch Caps Light";
	src: url("../assets/BLANCH_CAPS_LIGHT.otf");
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

h2 {
	display: none;
}


 
