/*******************************************CSS DESCRIPCION*************************************************
**************************************************************************************************************************/
.descripcion p {
	font-family: "Aleo";
	font-size: 1.3em;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 20px;
	padding-top: 30px;
}

/*******************************************CSS CAPITULOS*************************************************
**************************************************************************************************************************/

.capitulos {
	margin-bottom: 80px;
}

.capitulos img {	
	width: 100%;	
}

.infocurso img {
	width: 48%;
}

.infocurso h1 {
	text-align: center;
	font-family: "Blanch Caps";
	color: #969696;
	font-size: 2.5em;
	margin-top: 0px;
	margin-bottom: 15px;
}

.info img:first-child {
	width: 80%;
	margin-bottom: 10px;
}


.info p {
	text-align: left;
	font-family: "Aleo";
	margin-left: 15%;
	margin-right: 13%;
	font-size: 1.1em;
	margin-bottom: 50px;
}

/*******************************************END CSS CAPITULOS*************************************************
**************************************************************************************************************************/

.banner_circuitos img {
  width: 100%;
}

